.top-bg {
    background-image: url(https://cdn02.plentymarkets.com/qxzolkbuxzfb/item/images/100114/full/technicalsupport-2.jpg);
    background-position: center;
    color: white;
}

.navbar-items {
    width: 100%;
}


.btn-navbar {
    background-color: rgb(60 58 58 / 100%)!important; 
    color: white!important;
    font-size: 1.5rem!important;
    border-radius: 0!important;
    font-weight: bold !important;
} 

.btn-xl {
    padding: .8rem 1rem!important;
    font-size: 2rem!important;
}

.sidebar-item {
    padding: 15px;
    font-size: 1.1rem;
}